[
    {rabbit, 
        [
            {default_vhost, <<"/">>},
            {default_user, <<"admin">>},
            {default_pass, <<"password">>},
			{default_user_tags, [administrator]},
            {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
            {loopback_users, []},
			{protocol_strict_mode, false}
        ]
    }
].
